<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Register - TicTacToe</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 offset-md-4">

        <form id="register-form">
          <div class="form-group">
            <label for="firstname">First name:</label>
            <input class="form-control" type="text" name="firstname" id="firstname" required>
          </div>
          <div class="form-group">
            <label for="lastname">Last name:</label>
            <input class="form-control" type="text" name="lastname" id="lastname" required>
          </div>
          <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" type="text" name="username" id="username" required>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" name="password" id="password" minlength=6 required>
          </div>
          <input class="btn btn-success" type="submit" value="Register"/>
          Already have an account? <a href="/login">Log in</a>
        </form>
        <div class="alert alert-danger" role="alert" style="display: none;">
          The username is already taken!
        </div>
      </div>
    </div>
  </div>
  <script src="register.js"></script>
</body>
</html>
